@{
    ViewData["Title"] = "¿Quiénes somos?";
}
<h1>@ViewData["Title"]</h1>

<p>
    En la actualidad, a las personas les gusta tener un hogar más acogedor y agradable para todos los
    habitantes, así como adecuar algunas zonas de la casa para el trabajo y estudio desde casa.
    Todo lo anterior hizo surgir una mayor demanda de muebles, aun así, en Guatemala, no existen empresas
    que permitan el diseño personalizado de muebles.
    Es por ello por lo que la empresa tiene como objetivo brindar un servicio de diseño personalizado,
    fabricación, entrega y reparación, todo esto a través de una constante comunicación online con el
    cliente.
</p>
